toast {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	margin-top: 1rem;
	justify-content: center;
	flex-direction: column;
	z-index: 1000;
}

play-area {
	align-items: center;
	justify-content: center;
	padding: var(--windows-padding);
	flex: 2;
	position: relative;
}

workspace {
	flex: auto;
}

main {
	display: flex;
	height: 100%;
}

app {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.tools-section {
	position: relative;
}

footer {
	border-width: 1px 0px 0px 0px;
	border-color: var(--border-color);
}
