@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--border-color: #cacaca;
	--main-bg-color: #f2f4f8;
	--lighter-bg-color: #f8f8f8;
	--main-font-color: #121212;
	--secondary-font-color: #110b0ba8;
	--focus-border-color: var(--secondary-font-color);
	--windows-padding: 0.5rem;
	--font-size: 14px;
	--notification-z-index: 1000;
	--more-options-z-index: 100;
	--TeX-font-size: 1.2rem;
	--backtracking-color: #8a3ffc;
	--unassigned-color: #000000;
	--unsatisfied-color: #d31266;
	--satisfied-color: #11ae3e;
	--clause-id-color: #00000099;
	--inspecting-color: #f59b00;
	--trail-height: 5rem;
	--trail-content-height: 4rem;
	--trail-gap: 1rem;
	--trail-literal-min-width: var(--trail-literal-large-width);
	--trail-literal-standard: 40px;
	--trail-literal-large-width: 45px;
	--popover-font-size: 0.9rem;
	--button-size: 40px;

	--icon-unselected: #828282;
	--icon-base: #8a3ffc;
	--icon-light: #e5d9ff;
	--icon-strong: #5c23a7;
	--button-color: #cacaca30;
	--button-hover-color: #cacaca60;
	--button-active-color: #cacaca90;
	--button-border-color: #afafaf;
	--opacity-50: 0.5;
	--tail-component-width: ;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--main-bg-color);
	color: var(--main-font-color);
	font-size: var(--font-size);
	font-family: 'Biryani', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}

body > div {
	height: 100%;
	width: 100%;
}

.vertical-separator {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	border-width: 0px 1px 0px 0px;
	border-color: var(--border-color);
}

.chakra-petch-medium {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
	font-style: normal;
}
